<!DOCTYPE html>
<html>
  <head>
    <title>Collabi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/layouts/navigation" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
        </div>

      <div class="row">
        <div class="col-sm-2">
          <% if user_signed_in? %>
            <h5>Channels</h5>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <li><%= link_to chatroom.name, chatroom %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="col-sm-10">
          <p class"notice"><%= notice %></p>

          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
